<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <nav class="navbar navbar-expand-xl navbar-light">
                    <div class="container-fluid">
                        <a href="#" class="navbar-brand"><img src="/images/markuptag-white-logo.png" alt="logo" class="img-fluid" /></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <a class="nav-link " aria-current="page" href="#" routerLink="">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" routerLink="/myoder">Myoder</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="#">Wine</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="col-lg-4 col-md-3">
                <div class="header-search mt-2">
                    <div class="search-form">
                        <form method="get">
                            <div class="input-group">
                                
                                <input #serchItem  type="text" name="search" id="search" class="form-control" placeholder="Search Here" />
                                <div class="input-group-addon">
                                    <button type="submit"><i class="fas fa-search" (click)="search(serchItem.value)"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 cart-login">
                <div class="float-end cart mt-2">
                    <a href="#" routerLink="/cart">
                        <!-- <span class="number">10</span> -->
                        <!-- <img class="img-fluid" src="/images/cart.png" alt="" /> -->
                        <i class="fas fa-shopping-cart mx-5" style="font-size: 30px;"></i>
                        <!-- <span>Cart</span> -->
                    </a>
                </div>

                <div class="float-end" *ngIf="userlogin">
                    <button type="button" class="btn btn-light mt-2 btn-sm" routerLink="/login">Login</button>
                </div>
                <div class="" *ngIf="userlogout">
                    <button class="btn btn-light mt-2 btn-sm" type="button" (click)="logout()">logout</button>
                </div>
            </div>

            <!-- <div class="col-12 mt-sm-2 mt-lg-0">
                <div class="store-location p-0 text-end">
                    <div class="form-check-inline">
                        <input type="radio" id="test1" name="radio-group" data-toggle="modal" data-target=".bd-example-modal-lg" />
                        <label for="test1">Choose a Store</label>
                    </div>

                    <div class="form-check-inline">
                        <img class="img-fluid" src="/images/or.png" alt="Esplanda" width="20" />
                    </div>

                    <div class="form-check-inline">
                        <input type="radio" id="test2" name="radio-group" data-toggle="modal" data-target=".bd-example-modal-lg1" />
                        <label for="test2">Show Local Availblity</label>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</header>
