
<table class="table">
    <thead>
        <tr>
            <th>Oderid</th>
            <th>image</th>
            <th>Product</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of myoderdata">
    
        <td>
            <b>{{data.id}}</b>
        </td>
        <td>
            <img src="{{data.productinfo.imageurl}}" height="300px">
        </td>
        <td>
            <h5>{{data.productinfo.productname}}<br></h5>
            {{data.productinfo.productdis}}
        </td>
        <td>
            <b>{{data.productinfo.productprice}}</b>
        </td>
        <td><button class="btn btn-danger" (click)="cancleoder(data.id)">cancle oder</button></td>
    </tr>
</tbody>
</table>

